/* Устанавливаем красивый фон и шрифт */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Стили для заголовка */
h1 {
    color: #333;
    text-align: center;
}

/* Стили для навигации */
nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    margin: 0 10px;
}

nav a:hover {
    color: #0056b3;
}

/* Контейнер для контента */
.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.text-overlay {
    font-size: 100px; /* Размер текста */
    font-weight: bold; /* Жирный шрифт */
    text-transform: uppercase; /* Буквы заглавные */
    background: url('images/90s.jpeg') center/cover; /* Фон для текста */
    -webkit-background-clip: text; /* Обрезка фона по тексту */
    color: transparent; /* Делаем сам текст прозрачным */
    display: inline-block;
}


